@keyframes sliderright {
  from {
    background-position: 7000%;
  }
  to {
    background-position: 0%;
  }
}

#desert {
  position: absolute;
  background-image: url("background.jpeg");
  height: 200px;
  width: 100%;
  bottom: 0;
  animation: sliderright 600s infinite linear;
}

.dino {
  background-image: url("trex.webp");
  height: 60px;
  width: 60px;
  bottom: 0;
  position: absolute;
}

.obstacle {
  background-image: url("cactus.jpg");
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
}

body {
  background-color: rgb(44, 101, 44);
}

#alert {
  text-align: center;
  font-size: 50px;
  color: red;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: bisque;
}
