@keyframes sliderright {
  from {
    background-position: 7000%;
  }
  to {
    background-position: 0%;
  }
}

.body {
}

#desert {
  position: absolute;
  background-image: url("background.jpeg");
  height: 200px;
  width: 100%;
  bottom: 0;
  animation: sliderright 600s infinite linear;
}

.dino {
  background-image: url("t-rex.png");
  height: 60px;
  width: 60px;
  bottom: 0;
  position: absolute;
}

.obstacle {
  background-image: url("cacti.png");
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
}

body {
  background-color: rgb(44, 101, 44);
}

#alert {
  text-align: center;
  font-size: 50px;
  font-family: "Bitcount Prop Single Ink", system-ui;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-weight: bolder;
  font-family: "Bitcount Prop Single Ink", system-ui;
}

.restart-button {
}

.restart {
}

.desert {
}

header {
}

.header-title {
  /* code  */
}

nav {
  position: static;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav-header {
  padding: 0;
  background-color: transparent;
}

.nav-logo img {
  max-width: 250px;
}

.nav-logo-dark {
  display: flex;
}

.nav-logo-white {
  display: none;
}

.nav-menu-btn {
  display: none;
}

.nav-links {
  position: static;
  padding: 0;
  flex-direction: row;
  justify-content: flex-end;
  background-color: transparent;
  transform: none;
  z-index: 1;
}

.nav-links a {
  color: var();
}

.nav-links a:hover {
  color: var();
}
