@keyframes sliderright {
  from {
    background-position: 7000%;
  }
  to {
    background-position: 0%;
  }
}

body {
  background-color: rgb(44, 18, 22);
}

header {
}

.header-h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bolder;
  font-family: "Bitcount Prop Single Ink", system-ui;
}

nav {
  position: static;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: row;
}

.nav-header {
  padding: 0;
  background-color: transparent;
}

.nav-logo img {
  max-width: 250px;
}

.nav-logo a {
  /* code  */
}

.nav-logo img {
}

.nav-logo-dark {
  display: flex;
}

.nav-logo-light {
  display: none;
}

.nav-links {
  position: static;
  list-style: none;
  padding: 0;
  flex-direction: row;
  justify-content: flex-end;
  background-color: transparent;
  transform: none;
  z-index: 1;
  align-items: center;
  gap: 1em;
}

#navbar {
}

.nav-links a {
  color: var(red);
  align-items: center;
  font-weight: 300;
  text-decoration: wavy;
}

.nav-links li {
  position: relative;
}

.nav-links a:hover {
  color: var(pink);
}

.dropdown {
}

.dropdown-button {
}

.dropdown li {
}

#alert {
  text-align: center;
  font-size: 3em;
  font-family: "Bitcount Prop Single Ink", system-ui;
}

h2 {
}

#desert {
  position: absolute;
  background-image: url("background.jpeg");
  height: 500px;
  width: 100%;
  bottom: 0;
  animation: sliderright 600s infinite linear;
}

.desert {
}

.grid {
}

.dino {
  background-image: url("t-rex.png");
  height: 60px;
  width: 60px;
  bottom: 0;
  position: absolute;
}

.obstacle {
  background-image: url("cacti.png");
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
}

.restart-zone {
  margin-top: 160px;
  box-sizing: border-box;
  text-align: center;
}

.restart-button {
  color: rgb(45 173 173);
  height: 50px;
  background-color: bisque;
  width: 100px;
}

.main {
  text-align: center;
}

.restart {
}

.desert {
}

.section {
  display: flex;
  flex-flow: row;
  text-align: center;
  color: #f0a5f3f2;
  justify-content: space-evenly;
  padding-top: 60px;
  align-items: baseline;
}

.section-title {
  color: wheat;
  text-align: center;
}

.dinosaur-fact-list {
}

#dino-fact {
}

.fact-button {
}

#dino-fact-button {
}

.dinosaur-image-section {
}
